{% extends "core/base.html" %}


{% block content %}
<div class="flex w-full justify-center">
    <div class="w-[60%] mt-[15%] ">
        <form method="post">
            {% csrf_token %}
            <div class="my-4 w-full">
                {{ form.price }}
            </div>
            <div class="my-4 w-full">
                {{ form.tenant }}
            </div>
            <div class="my-4 w-full">
                {{ form.real_e }}
            </div>
            <button type="submit"
                class="inline-block rounded bg-indigo-500 text-neutral-50 shadow-[0_4px_9px_-4px_rgba(51,45,45,0.7)] hover:bg-indigo-600 hover:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] focus:bg-indigo-800 focus:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] active:bg-indigo-700 active:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal transition duration-150 ease-in-out focus:outline-none focus:ring-0">enregistrer</button>
        </form>
    </div>
</div>
{% endblock content %}