
<!-- First navbar -->
<nav
  class="relative bg-blue-800 flex w-full flex-wrap items-center justify-between bg py-1 shadow-dark-mild dark:bg-neutral-700 lg:py-2">
  <div class="flex w-full flex-wrap items-center justify-between px-3">
    <div class="ms-4 flex w-full items-center justify-between">
      <div class="">
        <a class="text-2xl text-white" href="{% url 'real_estateList' %}">Agence Immobilière</a>
      </div>
      <div class="">
        <button id="dropdownDefaultButton" data-dropdown-toggle="dropdown" class="text-white w-[3rem] h-[3rem] bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">
            <img src="../../static/media/bar.png" alt="">
        </button>
          
          <!-- Dropdown menu -->
          <div id="dropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
              <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
                <li>
                  <a href="{% url 'tenantsList' %}" class="block active:bg-blue-800 px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Locataires</a>
                </li>
                <li>
                  <a href="{% url 'OwnersList' %}" class="block active:bg-blue-800 px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Proprietaire</a>
                </li>
                <li>
                  <a href="{% url 'addressList' %}" class="block active:bg-blue-800 px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Address</a>
                </li>
                <li>
                  <a href="{% url 'real_estateList' %}" class="block active:bg-blue-800 px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Biens</a>
                </li>
                <li>
                  <a href="{% url 'rentalList' %}" class="block active:bg-blue-800 px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">locations</a>
                </li>
              </ul>
          </div>
      </div>      
  
    </div>
  </div>
</nav>
