
{% extends "core/base.html" %}


{% block content %}

<div class="">    
        <!-- Table responsive wrapper -->
        <div class="overflow-x-auto bg-white dark:bg-neutral-700">

        <div class=" flex justify-between items-center">
            <!-- Search input -->
            <div class="relative m-[2px] mb-3 mr-5 float-left">
                <label for="inputSearch" class="sr-only">Search </label>
                <input  data-path="{{data_path}}/owners" id="tel" type="text" value="{{telClient}}" placeholder="numero locataire" class="block w-64 rounded-lg border dark:border-none dark:bg-neutral-600 py-2 pl-10 pr-4 text-sm focus:border-blue-400 focus:outline-none focus:ring-1 focus:ring-blue-400" />                
            </div>
            <div class="">
                <a href="{% url 'OwnersCreate' %}" class="inline-block rounded border-2 border-indigo-500 text-blue-800 hover:border-indigo-600 hover:bg-blue-800  hover:text-white focus:border-indigo-700  active:border-indigo-800 active:text-white dark:border-indigo-300 dark:text-indigo-300 dark:hover:hover:bg-indigo-300 px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal transition duration-150 ease-in-out focus:outline-none focus:ring-0">ajouter</a>
            </div>
        </div>

        <!-- Table -->
        <table class="min-w-full text-left text-xs whitespace-nowrap">

            <!-- Table head -->
            <thead class="uppercase tracking-wider border-b-2 dark:border-neutral-600 bg-neutral-50 dark:bg-neutral-800">
            <tr>
                <th scope="col" class="px-6 py-3">
                prenom et nom
                </th>
                <th scope="col" class="px-6 py-3">
                téléphone
                </th>
                <th scope="col" class="px-6 py-3">
                mail
                </th>               
                <th scope="col" class="px-6 py-3">
                    actions
                </th>               
            </tr>
            </thead>

            <!-- Table body -->
            <tbody>
    {% for Owner in Owners  %}
            
            <tr class="border-b dark:border-neutral-600 hover:bg-neutral-100 dark:hover:bg-neutral-600">
                <th scope="row" class="px-6 py-3">
                {{Owner.full_name}}
                </th>
                <td class="px-6 py-3">{{Owner.tel}}</td>
                <td class="px-6 py-3"> {{Owner.email}} </td>
                <td class="px-6 py-3 flex justify-end"> 
                    <a href="{% url 'OwnersUpdate' Owner.id %}" ><img class="object-contain w-[3rem] h-[3rem]" src="../../static/media/update.png" alt=""></a>
                </td>
            </tr>           
    {% endfor %}
    
            
        </tbody>

        </table>

        
            {% include 'core/pagination.html' %}            
            
        
        </div>        
</div>  

{% endblock content %}
    

