@tailwind base;
@tailwind components;
@tailwind utilities;

.detailImgClick{    
    width: 100% !important ; 
    height: auto !important;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}